{% extends 'base.html.twig' %}

{% block title %}À propos de Game-o-scope{% endblock %}
{% block body_class 'about' %}

{% block header_title %}
    <a href="{{ path('games') }}" class="header-title-back icon-previous">
        {{ parent() }}
    </a>
{% endblock %}

{% block content %}
    <h2>À propos</h2>

    <blockquote>"Oui, c'est du in-game."</blockquote>

    <p>Game-o-scope est une collection de jolis environnements visuels capturés à la main dans mes jeux vidéo préférés.</p>
    <p>Toutes les captures sont disponibles au téléchargement en 2560&times;1440.</p>
    <p>Suivez Game-o-scope sur <a target="_blank" href="https://instagram.com/gameoscope">Instagram</a> pour ne rien rater !</p>
    <p>Créé et tenu par <a target="_blank" href="https://twitter.com/tom32i">Tom32i</a>.</p>
{% endblock %}
