{% extends 'base.html.twig' %}

{% block body_class 'page-games' %}

{% block content %}
    {% for game in games %}
        <a class="game" href="{{ path('game', { game: game.slug }) }}">
            {% include 'app/image.html.twig' with { image: game.images|first } only %}
            <h2 class="title">{{ game.name|default(game.slug) }}</h2>
        </a>
    {% endfor %}
{% endblock %}
