<nav>
  <ul>
    <li>
      <a class="contrast" href="{{ path('admin_list') }}">
        <strong>Game-o-scope</strong>
      </a>
    </li>
  </ul>
  <div class="nav">
    <a href="{{ path('games') }}" class="secondary">
      Front
    </a>
    <a href="{{ path('admin_list') }}">
      Les jeux
    </a>
    <a href="{{ path('admin_new') }}" role="button">
      Ajouter un jeu
    </a>
  </div>
</nav>
