.about {
  h2 {
    margin-bottom: 1em;
  }

  p {
    font-size: 1em;
    margin: 1em 0;

    a,
    a:visited {
      font-family: Georgia, serif;
    }
  }

  blockquote {
    border-left: 0.2em solid $color-text-light;
    color: $color-text-light;
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0.4em 1em;
  }
}
