.page-games {
  .game {
    box-shadow: 0 0.5em 3em rgba(#000, 0.66);
    display: block;
    display: block;
    margin: 3em 0;
    position: relative;
    text-decoration: none;
    transition: transform 200ms ease-in-out;

    picture,
    img {
      aspect-ratio: 16 / 9;
      display: block;
      height: auto;
      width: 100%;
    }

    &:hover {
      transform: scale3d(1.05, 1.05, 1);

      .title {
        transform: translate3d(0, -50%, 0) scale3d(1.05, 1.05, 1);
      }
    }

    .title {
      color: #ffffff;
      font-size: 4em;
      left: 0;
      letter-spacing: 0.02em;
      line-height: 0.8;
      margin: 0;
      padding: 1.2em;
      position: absolute;
      right: 0;
      text-align: center;
      text-shadow: 0 0.1em 0.3em rgba(#000, 0.6);
      top: 50%;
      transform: translate3d(0, -50%, 0);
      transition: transform 200ms ease-in-out;
      width: 100%;
    }
  }
}
