.page-game {
  header {
    margin: 2em 0;
  }

  .game-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 3em;
  }

  .game-title {
    font-size: 1.8em;
    letter-spacing: 0.05em;
    margin: 0 0 0.4em;
    text-align: center;
  }

  .game-year {
    color: $color-text-light;
  }

  .game-studio {
    color: $color-text-light;
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    text-transform: none;

    a,
    a:visited {
      color: $color-text-light;
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: $color-text;
    }
  }

  .screenshot {
    background-color: #000;
    box-shadow: 0 1em 3em rgba(#000, 0.66);
    display: block;
    line-height: 0;
    margin: 3em 0;
    outline: none;
    overflow: hidden;
    position: relative;
    scroll-margin-top: 3em;

    picture,
    img {
      aspect-ratio: 16 / 9;
      display: block;
      height: auto;
      width: 100%;
    }

    &::before {
      color: #fff;
      content: $icon-download;
      display: inline-block;
      font-family: '#{$icomoon-font-family}' !important;
      font-size: 10em;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      left: 50%;
      line-height: 1;
      opacity: 0;
      position: absolute;

      speak: none;
      text-shadow: 0 0.05em 0.1em rgba(#000, 0.25);
      text-transform: none;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: opacity 200ms linear;
      z-index: 10;
    }

    &:hover,
    &:active {
      &::before {
        opacity: 1;
      }
    }
  }
}
