.page-games {
    .game {
        display: block;
        position: relative;
        text-decoration: none;
        margin: 3em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 200ms ease-in-out;
        box-shadow: 0 0.5em 3em rgba(black, 0.66);

        &:hover {
            transform: scale3d(1.05, 1.05, 1);

            .title {
                transform: scale3d(1.05, 1.05, 1);
            }
        }

        .title {
            position: absolute;
            width: 100%;
            color: white;
            font-size: 4em;
            padding: 1.2em;
            letter-spacing: 0.02em;
            line-height: 0.8;
            margin: 0;
            text-align: center;
            transition: transform 200ms ease-in-out;
            text-shadow: 0px 0.1em 0.3em rgba(black, 0.6);
        }
    }
}
