@font-face {
  font-display: block;
  font-family: '#{$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ge9w6x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ge9w6x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ge9w6x##{$icomoon-font-family}') format('svg');
}

[class^='icon-']::before,
[class*=' icon-']::before,
[class^='icon-right']::after,
[class*=' icon-right']::after {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.icon-top::before {
  content: $icon-top;
}

.icon-eye::before {
  content: $icon-eye;
}

.icon-download::before,
.icon-right-download::after {
  content: $icon-download;
}

.icon-info::before,
.icon-right-info::after {
  content: $icon-info;
}

.icon-instagram::before,
.icon-right-instagram::after {
  content: $icon-instagram;
}

.icon-twitter::before,
.icon-right-twitter::after {
  content: $icon-twitter;
}

.icon-next::before,
.icon-right-next::after {
  content: $icon-next;
}

.icon-previous::before,
.icon-right-previous::after {
  content: $icon-previous;
}

