@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&display=swap');

body {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    color: $color-text;
    padding: 0 4em;
    perspective: 100vh;
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

img {
    background-color: $color-text;
    max-width: 100%;
}

a, a:visited {
    max-width: 100%;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    color: $color-text;
    text-decoration: none;

    &[target] {
        text-decoration: underline;
    }

    &:active, &:hover {
        color: $color-text-dark;
        text-decoration: underline;
    }

    &.with-icon {
        &:active, &:hover {
            &:before, &:after {
                text-decoration: none;
            }
        }

        &:before {
            margin-right: 0.4em;
        }
        &:after {
            margin-left: 0.4em;
        }
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    margin: 3em 0 4em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;

    > * {
        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.bottom-nav {
    display: flex;
    width: 100%;
    margin-top: 4em;

    > a {
        flex: 1;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em 0;

    .links {
        display: flex;

        a {
            margin: 0 1em;
        }
    }
}

.links {
    display: flex;

    a {
        padding: 0.4em;
        display: block;
        line-height: 1;
        transition: transform 100ms linear;

        &.icon-only:hover {
            transform: scale3d(1.1, 1.1, 1);
        }
    }
}

.header-title-back {
    text-decoration: none;
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.2em;
    }

    &:before {
        padding-right: 1em;
        margin-right: -0.5em;
        text-decoration: none;
        line-height: 1.2em;
        font-size: 1em;
        transition: transform 200ms ease-in-out;
    }

    &:hover:before {
        transform: translateX(-0.5em);
    }

    &:hover {
        text-decoration: none;
    }
}
