@media (max-width: 2000px) {
    .container, .container-large { max-width: 1280px; }
}

@media (max-width: 1360px) {
    .container, .container-large {  max-width: 960px; }
}

@media (max-width: 1040px) {
    :root {
      --gutter: 2em;
    }

    .container, .container-large  { max-width: 960px; }

    .links {
        font-size: 1.5em;
    }

    .page-games {

        .game {
            .title {
                font-size: 4em;
            }
        }
    }
}

