$background: #eeeeee;

$color-text-dark: #393e46;
$color-text: lighten($color-text-dark, 20%);
$color-text-light: lighten($color-text, 20%);

// Icons
$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-download: "\e900";
$icon-back: "\e901";
$icon-info: "\ea0c";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
