$background: #1e2329;

$color-text-dark: #fff;
$color-text: darken($color-text-dark, 15%);
$color-text-light: darken($color-text, 30%);

// Icons
$icomoon-font-family: 'icons' !default;
$icomoon-font-path: '../fonts' !default;

$icon-download: '\e900';
$icon-info: '\ea0c';
$icon-instagram: '\ea92';
$icon-twitter: '\ea96';
$icon-next: '\e902';
$icon-previous: '\e903';

