$background: #1e2329;

$color-text-dark: #fff;
$color-text: darken($color-text-dark, 15%);
$color-text-light: darken($color-text, 30%);

// Icons
$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-top: unquote('"\\e901"');
$icon-download: unquote('"\\e900"');
$icon-info: unquote('"\\ea0c"');
$icon-instagram: unquote('"\\ea92"');
$icon-twitter: unquote('"\\ea96"');
$icon-next: unquote('"\\e902"');
$icon-previous: unquote('"\\e903"');
