<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title block('title') %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}
            <main class="content">
                <header class="header">
                    {% block header %}{% endblock %}
                </header>
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </main>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
